{% extends 'AppMainBundle::layout.html.twig' %}

{% macro runner(player) %}
    {% if player.link %}<a href="{{ player.link }}">{{ player.name }}</a>{% else %}{{ player.name }}{% endif %}
{% endmacro %}
{% macro runTitle(run) %}
    [{{ run.time }}] {{ run.game }} <span class="category">- {{ run.category }}</span>
{% endmacro %}

{% import _self as macros %}

{% block content %}
    <div class="list">
        <div class="element">
            <div class="hidden-xs date">
                {{ record.run.date|date('d/m/Y') }}
            </div>
            <div class="vote {% if record.voted %}voted{% endif %}">
                {% if record.voted %}
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                {% else %}
                    <a class="action" href="{{ path('app_main_vote_upvote', {identifier: record.identifier}) }}">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
            <div class="video-thumbnail">
                <a href="{{ record.run.links[0] }}"><img src="{{ record.run.thumbnail|default(asset('bundles/appmain/img/thumbnail_default.jpg')) }}" width="96" height="72" alt="{{ macros.runTitle(record.run) }}" /></a>
            </div>
            <div class="details">
                <div>
                    {% if record.run.links|length > 0 %}
                        <span class="title"><a href="{{ record.run.links[0] }}">{{ macros.runTitle(record.run) }}</a></span>
                    {% else %}
                        <span class="title">{{ macros.runTitle(record.run) }}</span> <span class="info">(pas de vidéo)</span>
                    {% endif %}
                </div>
                <div class="description">
                    par {{ macros.runner(record.run.player) }},
                    sur {{ record.run.platform }}
                </div>
                <div class="infos">
                    {{ record.votes|default(0) }} favoris
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
