{% extends 'AppMainBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppMainBundle/Resources/public/js/jquery.form-3.51.0.min.js'
        '@AppMainBundle/Resources/public/js/submission/main.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>Détails</h3>
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <input type="submit" value="{{ 'form.submit'|trans }}" />
                <a href="{{ path('app_main_homepage') }}">{{ 'form.cancel' }}</a>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4">
            <h3>Auto-remplissage</h3>
            {{ form_start(linkForm, {action: path('app_main_submission_autocomplete'), attr: {'data-ajax-form': true}}) }}
                {{ form_rest(linkForm) }}
                <input type="submit" value="{{ 'form.submit'|trans }}" />
            {{ form_end(linkForm) }}
        </div>
    </div>
{% endblock %}
