{% extends 'AppMainBundle::layout.html.twig' %}

{% macro runner(player) %}
    {% if player.link %}<a href="{{ player.link }}">{{ player.name }}</a>{% else %}{{ player.name }}{% endif %}
{% endmacro %}

{% import _self as macros %}

{% block content %}
    <p>
        Vous pouvez soumettre un record du monde en suivant <a href="{{ path('app_main_submission_submit') }}">ce lien</a>.
    </p>
    <p>
        Ou vous pouvez voir la liste des records en attente de validation <a href="{{ path('app_main_submission_list') }}">ici</a>.
    </p>
    <div class="list">
        {% for record in records %}
            <div class="element">
                <div>
                    {% if record.run.links|length > 0 %}
                        <span class="title"><a href="{{ record.run.links[0] }}">{{ record.run.time }} {{ record.run.game }} - {{ record.run.category }}</a></span>
                    {% else %}
                        <span class="title">{{ record.run.time }} {{ record.run.game }} - {{ record.run.category }}</span> <span class="info">(pas de vidéo)</span>
                    {% endif %}
                </div>
                <div class="description">
                    par {{ macros.runner(record.run.player) }},
                    sur {{ record.run.platform }}
                    - {{ record.run.date|date('d/m/Y') }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
